name: Fuzz

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-fuzz
        run: cargo install cargo-fuzz

      - name: Build fuzz targets
        run: cargo fuzz build
        working-directory: ./fuzz

      - name: Run fuzz targets (short)
        run: |
          cargo fuzz run fuzz_execute_si -- -max_total_time=30
          cargo fuzz run fuzz_transfer -- -max_total_time=30
          cargo fuzz run fuzz_flashmint -- -max_total_time=30
          cargo fuzz run fuzz_flashburn -- -max_total_time=30
          cargo fuzz run fuzz_instant_redeem -- -max_total_time=30
        working-directory: ./fuzz
