name: Kani (manual)

on:
  workflow_dispatch: {}

jobs:
  kani:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Kani
        run: |
          cargo install kani-verifier

      - name: Run Kani proofs
        run: |
          kani --version
          kani -p lumina-execution
